/*====================
    Google Fonts 
 ============================*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

/*=======================
    Common Styles
 ======================== */
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Poppins', sans-serif;
    
}
.container {
    width: 90%;
    max-width: 1160px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}
.btn {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    padding: 10px 24px;
    color: #FFFFFF;
    background-color: #E02C6D;
}

/*=======================
     hero section style 
========================== */
.hero {
    background-color: #2D25A0;
    padding: 100px 0;
}
.hero .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 80px;
}
.hero-text {
    width: 85%;
}
.hero-text h1 {
    font-size: 64px;
    font-weight: 700;
    color: #FFFFFF;
}
.hero-cta {
    display: inline-block;
    margin-top: 27px;
    border: 2px solid transparent;
    transition: all 0.3s ease-in-out;
}
.hero-cta .fa-arrow-right {
    margin-left: 8px;
    transition: all 0.3s ease-in-out;
}
.hero-cta:hover {
    background-color: transparent;
    border: 2px solid #FFFFFF;
    padding-right: 15px;
}
.hero-cta:hover .fa-arrow-right {
    margin-left: 17px;
}
.hero-img {
    width: 100%;
}
.hero-img img {
    width: 100%;
    transition: transform 1s ease-in-out;
}
.hero:hover img {
    transform: rotateY(180deg) scale(1.2) skew(8deg);
}

/*=======================
    player-board styles 
 ==============================*/

#player-board {
    display: flex;
    justify-content: center;
    padding: 70px 0;
}
#player-board .container {
    width: 80%;
    max-width: 1050px;
    margin: 0 auto;
}
.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
}
.player {
    padding: 15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player-img img {
    width: 100%;
}
.player-name {
    font-size: 28px;
    font-weight: 700;
    color: #18191F;
    margin: 10px 0px;
}
.player-desc {
    font-size: 16px;
    font-weight: 400;
    color: #6C6C6C;
    margin: 10px 0px;
}

/*========================
 membership area styles 
 =============================*/
#membership {
    background: linear-gradient(to left, rgb(210, 215, 243), rgba(220, 223, 241, 0.8)), url("../images/stadium.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 50px 0;
}
#membership .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}
.membership-text h2 {
    font-size: 40px;
    color:#2D25A0;
    
}
.membership-text p {
    width: 80%;
    margin: 30px 0;
}
.membership-text .btn {
    display: inline-block;
    transition: all 0.3s ease-in-out;
}
.membership-text .btn:hover {
    background: #2D25A0;
}

.membership-image {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}
.membership-image img {
    width: 100%;
}
/*========================
 game report area styles 
 =============================*/
 #report {
     padding: 75px 0;
 }
 #report .container {
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     grid-column-gap: 50px;
     align-items: center;
 }
 #report .video-area iframe {
     width: 100%;
     height: 300px;
 }
 .result-area h4 {
     font-size: 16px;
     color: #E02C6D;
 }
 .result-area h2 {
    font-size: 30px;
    color: #2D25A0;
    font-weight: 400;
    margin-bottom: 30px;
}
.result {
    border: 5px solid;
    border-image: linear-gradient(rgba(224, 44, 110, 0.643), rgba(45, 37, 160, 0.657));
    border-image-slice: 1;
    background-color:rgba(224, 44, 110, 0.219);
    padding: 20px;
    margin: 20px 0;
}

/*========================
 footer area styles 
 =============================*/
footer {
    padding: 63px 0;
    text-align: center;
}
footer .logo {
    width: 100%;
}
footer .logo img {
    width: 35%;
}
.social-icons {
    margin: 20px 0;
    display: flex;
    justify-content: center;
}
.social-icons a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 32px;
    margin: 0 7px;
    font-size: 17px;
    color: #969BAB;
    background: #DDDDDD;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
}
.social-icons a i {
    transition: all 0.7s ease-in-out;
}
.social-icons a:hover {
    background: #2D25A0;
    color: #FFFFFF;
}
.social-icons a:hover > i {
    transform: rotate(360deg);
}
.copyright {
    font-size: 18px;
}

/*========================
    Media Query
 =========================== */

 /* for tablet devices */

 @media only screen and (max-width: 768px) and (min-width: 481px) {
     .hero {
        padding: 25px 0;
     }
     .hero .container {
        grid-template-columns: 1fr;
        grid-gap: 50px 0;
    }
    .hero-text h1 {
        font-size: 48px;
    }
    .hero-img {
        text-align: center;
    }
    .hero-img img {
        width: 80%;
    }
    .players {
        grid-template-columns: repeat(2, 1fr);
    }
    #membership .container {
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 40px;
    }
    #report .container {
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 0;
        grid-row-gap: 50px;
    }
 }

 /* for mobile devices */

 @media only screen and (max-width: 480px) {
    .hero {
        padding: 25px 0;
    } 
    .hero .container {
         grid-template-columns: 1fr;
         grid-gap: 50px 0;
     }
     .hero-text h1 {
         font-size: 36px;
     }
     .hero-img {
        text-align: center;
    }
    .hero-img img {
        width: 80%;
    }
    #player-board .container {
        width: 90%;
    }
    .players {
        grid-template-columns: 1fr;
        grid-column-gap: 0;
        grid-row-gap: 27px;
    }
    #membership .container {
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 40px;
    }
    .membership-image {
        grid-template-columns: repeat(1, 1fr);
    }
    #report .container {
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 0;
        grid-row-gap: 50px;
    }
    .result-area h2 {
        font-size: 25px;
    }
    footer .logo img {
        width: 50%;
    }
   
 }